<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="cfaf5e68-3bc9-47cb-92ed-205c4278afcc" Publisher="CN=Alonso" Version="1.0.0.5" />
  <Properties>
    <DisplayName>AeiCliente</DisplayName>
    <PublisherDisplayName>Alonso</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="AeiCliente.App">
      <VisualElements DisplayName="AeiCliente" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="AeiCliente" ForegroundText="light" BackgroundColor="#f46526">
        <DefaultTile ShowName="allLogos" WideLogo="Assets\WideLogo.png" />
        <SplashScreen Image="Assets\SplashScreen.png" BackgroundColor="#f46526" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClientServer" />
    <Capability Name="sharedUserCertificates" />
    <Capability Name="privateNetworkClientServer" />
    <Capability Name="internetClient" />
  </Capabilities>
</Package>